
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.eddieowens">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <application>
        <receiver
            android:name=".services.BoundaryEventIntentService">
            <intent-filter>
                <action android:name="com.eddieowens.geofence.ACTION_RECEIVE" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
  